@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
   background-color:rgb(243, 243, 243);
   color: rgb(22, 21, 21);
   font: 18px 'Nunito', sans-serif;
}
h1 {
   color: rgb(54, 20, 29);
   text-align: center;
}
hr {
   width: 90%;
}
a {
   color: black;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
   color: brown;
}
a:visited {
   color:grey;
}
.header {
   padding-top: 30px;
   margin: auto;
   max-width: 900px;
   overflow: hidden;
}
.ava {
   width: 150px;
   height: 150px;
   border-radius: 25%;
   box-shadow: -5px 3px 20px lightslategray;
}
.info {
   margin-bottom: 10px;
   font-weight: normal;
   margin-bottom: 10px;
   padding-left: 20px;
   display: flex;
}
.info p {
   color: cornflowerblue;
   font-style: italic;
}
.info-text {
   margin-left: 20px;
}
.box {
   margin: 15px;
   border: 5px;
   border-radius: 20px;
   border-color: rgb(243, 243, 243);
}
.box div {
   background-color: rgb(162, 205, 250);
   width:40%;
   display: inline-block;
   text-align: center;
   list-style-position: inside;
   border: 5px solid;
   border-radius: 20px;
   border-color: rgb(243, 243, 243);
   margin: 5px;
   padding-right: 25px;
}
.social {
   float: right;
}
.list {
      padding: 0;
}
.experience {
   text-align: center;
   border-radius: 20px;
   border-color: rgb(243, 243, 243);
   margin-bottom: 10px;
   padding: 5px;
   background-color: rgb(255, 236, 140)
}
.table {
   width: 100%;
}
.table td:nth-child(2), .table td:nth-child(3) {
   color: rgb(99, 96, 90);
}
fieldset {
   border: 5px solid rgb(63, 4, 4);
   border-radius: 10px;  
}
.connect {
   margin-bottom: 10px;
   background-color: rgb(255, 179, 245);
   padding: 10px;
   border-radius: 20px;
   border-color: rgb(243, 243, 243);
}
.connect h2 {
   text-align: center;
}
.form input, .form textarea {
   border: none;
   border-bottom: 1px solid #ccc;
   outline: none;
   font-family: inherit;
}
.btn {
   color: rgb(0, 0, 0);
   background-color: rgb(255, 236, 140);
   border: none;
   width: 115px;
   height: 30px;
   font-family: inherit;
   cursor: pointer;
}
.btn:hover {
   opacity: 0.8;
}
.etc {
   margin-bottom: 10px;
   padding: 10px;
   padding-left: 20px;
   background-color: rgb(143, 230, 132);
   border-radius: 20px;
   border-color: rgb(243, 243, 243);
}
#etc {
   width: 40px;
   height: 40px;
}
@media (max-width: 700px) {
   .info {
      display: block;
      text-align: center;
   }
   .box >div {
      max-width: 35%;
   }
} 